@font-face {
    font-family: 'Open';
    src: url(../calculator/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-height{
    min-height: 100vh;
    height: 100%;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 61, 61);
}

.container{
    background: rgb(23,25,25);
    background: linear-gradient(0deg, rgb(3, 3, 3) 0%,rgb(22, 22, 22) 60%, rgb(50, 66, 57) 100%);
    height: 60%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
}

.display{
    width: 93%;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
    font-size: 38px;
    font-family: 'Open';
    background: rgb(47, 143, 143);
    background: linear-gradient(0deg, rgb(105, 138, 165) 25%, rgb(118, 145, 129) 100%);
}

.undo-wrapper{
    width: 100%;
    height: 50px;
}

.undo{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.buttons-wrapper{
    min-width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    min-height: 300px;
}

.btn{
    border-radius: 7px;
    color: rgb(245, 245, 245);
    font-size: 24px;
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgb(63, 71, 71) 0%, rgb(75, 90, 82) 100%);
    border: 1px solid rgb(25, 31, 31);
    transition: all .15s ease-in-out;

}

.btn:hover{
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgba(47,51,51,1) 25%,rgb(58, 70, 70) 50%, rgb(79, 95, 86) 100%);
    border: 1px solid rgb(121, 89, 3);
    transform: scale(1.02);
}

.btnClear, .btnDelete{
    width: 10.6rem;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-size: 20px;;
    height: 40px;
    transition: all .15s ease-in-out;
}

.btnClear{
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, rgb(99, 16, 16) 50%, rgb(155, 25, 25) 100%);
    border: 1px solid rgb(51, 3, 3);
}

.btnClear:hover{
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgb(80, 14, 14) 50%, rgb(148, 25, 25) 100%);
    transform: scale(1.01);
}

.btnDelete{
    background: rgb(63, 4, 78);
    background: linear-gradient(0deg, rgb(78, 15, 129) 50%, rgb(129, 17, 129) 100%);
    border: 1px solid rgb(65, 7, 65);
}

.btnDelete:hover{
    background: rgb(63, 4, 78);
    background: linear-gradient(0deg, rgb(69, 21, 109) 50%, rgb(126, 24, 126) 100%);
    border: 1px solid rgb(65, 7, 65);
    transform: scale(1.01);
}