@font-face {
    font-family: 'Open';
    src: url(../calculator/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Mouse';
    src: url(../calculator/Mouse_Memoirs/MouseMemoirs-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-height{
    min-height: 100vh;
    height: 100%;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 61, 61);
}

.container{
    background: rgb(23,25,25);
    background: linear-gradient(0deg, rgb(3, 3, 3) 0%,rgb(22, 22, 22) 60%, rgb(50, 66, 57) 100%);
    height: 60%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
}

.display{
    width: 93%;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
    font-size: 38px;
    font-family: 'Open';
    background: rgb(47, 143, 143);
    background: linear-gradient(0deg, rgba(105, 138, 165, 0.5) 25%, rgba(118, 145, 129, 0.5) 100%);
}

.undo-wrapper{
    width: 100%;
    height: 50px;
}

.undo{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.buttons-wrapper{
    min-width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    min-height: 300px;
}

.btn{
    border-radius: 7px;
    color: rgb(245, 245, 245);
    font-size: 24px;
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgba(63, 71, 71, 0.2) 0%, rgba(75, 90, 82, 0.4) 100%);
    border: 1px solid rgb(25, 31, 31);
    transition: all .15s ease-in-out;

}

.btn:hover{
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgba(47,51,51,1) 25%,rgba(58, 70, 70, 0.6) 50%, rgb(79, 95, 86) 100%);
    border: 1px solid rgb(121, 89, 3);
    transform: scale(1.02);
}

.btnClear, .btnDelete{
    width: 10.6rem;
    border-radius: 10px;
    color: rgb(245, 245, 245);
    font-size: 20px;;
    height: 40px;
    transition: all .15s ease-in-out;
}

.btnClear{
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, rgba(99, 16, 16, 0.4) 50%, rgba(155, 25, 25, 0.4) 100%);
    border: 1px solid rgba(51, 3, 3, 0.6);
}

.btnClear:hover{
    background: rgb(47,51,51);
    background: linear-gradient(0deg, rgba(80, 14, 14, 0.8) 50%, rgba(148, 25, 25, 0.7) 100%);
    transform: scale(1.01);
}

.btnDelete{
    background: rgb(63, 4, 78);
    background: linear-gradient(0deg, rgba(78, 15, 129, 0.4) 50%, rgba(129, 17, 129, 0.4) 100%);
    border: 1px solid rgba(63, 4, 78, 0.4);
}

.btnDelete:hover{
    background: rgb(63, 4, 78);
    background: linear-gradient(0deg, rgba(69, 21, 109, 0.8) 50%, rgba(126, 24, 126, 0.7) 100%);
    border: 1px solid rgba(63, 4, 78, 0.6);
    transform: scale(1.01);
}

.top-text{
    font-family: 'Mouse, sans-serif';
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 0 20px 0 20px;
    background: #9E4D70;
    background: radial-gradient(ellipse farthest-corner at center center, #8f24aa 0%, #a432c0 50%, #1321e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.footer{
    font-size: 10px;
    font-family: 'Mouse, sans-serif';
    background: #CFA80C;
    background: linear-gradient(to right, #CFA80C 30%, #d86417 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover{
    background: #CFA80C;
    background: linear-gradient(to right, #a16f03 50%, #f7fa64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.operator, .btnEqual, .btnDot{
    background: #CFA80C;
    background: linear-gradient(to right, #573c01 50%, #f7fa64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.operator:hover, .btnEqual:hover, .btnDot:hover{
    background: #CFA80C;
    background: linear-gradient(to right, #aa7d1d 50%, #f7fa64 100%);
    -webkit-background-clip: text;
}

